#modal_detail {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
#modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    width: 60%;
  }
  
#modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }



.button-check{
    border: none;
    border-radius: 12px;
    padding: 5px;
    color: #fefefe;
    background: #DC143C;
    transition: 1s ease;

}

.button-check:hover{
    border: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px;
    color: #fefefe;
    background: #ff5a7b;
    filter: drop-shadow(0px 0px 10px #ae3731);
    transition: 1s ease;

}
.catalog-content {
    width: 97%;
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px #fefefe;
    left: 2.5%;
    border: solid 1px #fefefe;
    padding: 10px;

}


.chapter{
    width: 30%;
    box-shadow: inset 0px 0px 13px 2px rgb(255 29 0 / 53%);
    padding: 10px;
    height: 545px;
    border-radius: 5px 63px 5px 15px;
    display: flex;
    border: solid 1px #aad5de;
    display: flex;
    color: #fefefe;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.in_cart{
    min-width: 150px;
    font-size: 20px;
    background: #0000;
    text-transform: uppercase;
    font-weight: 700;
    margin: 11px;
    color: #fc0000;
    border: none;
    border-radius: 1000px;
    box-shadow: inset 0px 0px 13px 2px rgb(236 154 144 / 53%);
    cursor: pointer;
    padding: 10px;
    transition: .7s;
}
.in_cart:hover{
    background: #cd64644d;
    transition: .6s;
}
.chapter img{
    top:10px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 10px 0 20px 0;
    overflow: hidden;
    transition: 1s ease;
}


.chapter p{
    color: rgb(255 249 219);
    font-weight: 500;
    margin: 1.5%;
    display: flex;
    font-size: 16px;
    text-align: center;
}

.chapter h1{
    color:rgb(255 63 63);
    font-weight: 500;
    font-size: 26px;
}


.catalog-content a{
    margin: 15px;
    text-decoration: none;
    color: black;
}

.back-label{
    width: 100%;
    display: inline-flex;
}

.back-label a.back{
    color: #ae3731;
    text-decoration: none;
    display: inline-flex;
    margin-right: 20%;
    margin-top: 10px;
}
.content p.back-text{
    position: relative;
    top: -5px;
    margin-left: 10px;

}


@media (max-width: 480px){
    .main_photo{
        width: 300px;
    }

    .description{
    flex-direction: column;
    }

    .specifications{
    width: 100%;
    margin-left: 2%;
    }
    .chapter{
    width: 345px;
    }
}