.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box-login {
    background-image: url("/static/main/img/bg.jpg");
    padding: 5%;
    border-radius: 20px;
    width: auto;
    height: auto;
}

.box-login a {
    text-decoration: none;
    color: brown
}

.box-login input#id_username {
    font-family: Poppins-Medium;
    margin-left: 10%;
    font-size: 16px;
    border-radius: 22px;
    color: #e9e2e2;
    line-height: 1.2;
    display: block;
    width: 80%;
    height: 35px;
    background: 0 0;
    padding: 0 7px 0 43px;
}

.box-login input#id_password,
input#id_password1,
input#id_password2 {
    font-family: Poppins-Medium;
    margin-left: 10%;
    font-size: 16px;
    border-radius: 22px;
    color: #e9e2e2;
    line-height: 1.2;
    display: block;
    width: 80%;
    height: 35px;
    background: 0 0;
    padding: 0 7px 0 43px;
}

.box-login label {
    margin-top: 10px;
}

.box-login li {
    list-style-type: none;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    min-width: 150px;
    margin: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.login::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.login:hover,
.login:focus {
    color: #313133;
    transform: translateY(-6px);
}

.login:hover::before,
.login:focus::before {
    opacity: 1;
}

.login::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.login:hover::after,
.login:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}