
<section class="home">
    <div class="content">
        <div class="tabs">
        <div class="tabs__nav">
            <button class="tabs__nav-btn" type="button" data-tab="#tab_1"><img class="tab_img" src="/static/main/img/Logo.png"></button>
            <button class="tabs__nav-btn" type="button" data-tab="#tab_3"><img class="tab_img" src="/static/main/img/1.jpg" >  </button>
            <button class="tabs__nav-btn" type="button" data-tab="#tab_2"><img class="tab_img" src="/static/main/img/2.jpg"> </button>
        </div>
        <div class="tabs__content">
            <div class="tabs__item" id="tab_1">
                <img class="img_item" src="/static/main/img/Logo.png"  >
            </div>

            <div class="tabs__item" id="tab_2">
                <img class="img_item" src="/static/main/img/1.jpg" >  
            </div>

            <div class="tabs__item" id="tab_3">
                <img class="img_item" src="/static/main/img/2.jpg">                
            </div>
        </div>
    </div>
