{% load static %}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Окинава{% block title %}{% endblock %}</title>
    {% block link %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link type="image/x-icon" rel="shortcut icon" href="/static/main/img/logo.png">
    <link type="image/png" sizes="16x16" rel="icon" href="/static/main/img/logo.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/static/main/img/logo.png">
    <link type="image/png" sizes="48x48" rel="icon" href="/static/main/img/logo.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/static/main/img/logo.png">
    <link type="image/png" sizes="120x120" rel="icon" href="/static/main/img/logo.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>


<body>

    <div class="top-header">
        <a href="{% url 'catalog:product_list' %}"><button class="but_log">Меню</button></a>
        <a href="/"><button class="but_log">О нас</button></a>
        <a href="{% url 'delivery' %}"><button class="but_log">Доставка</button></a>
        <a href="{% url 'pay' %}"><button class="but_log">Оплата</button></a>
        <a href="{% url 'contacts' %}"><button class="but_log">Контакты</button></a>
        <a href="{% url 'login'%}"><button class="but_log"> <i class='bx bx-log-in'></i> </button></a>
        <button class="but_log" id="cart-button"> <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="cart-content"></div>
            </div>
        </div> <i class='bx bx-cart'></i></button>
    </div>
<header class="header">
    <div class="top">
        <div class="logo">
            <a href="/" class=""><img src="/static/main/img/Logo.png" alt=""></a>
        </div>

        <div class="top-contacts">
            <p>
                <a href="tel:8(965)471-01-21"><i class='bx bxs-phone'></i>+7 (965) 471-01-21</a><br>
                <a href="tel:8(952)841-01-21"><i class='bx bxs-phone'></i>+7 (952) 841-01-21</a><br>
                <a href="mailto:okinawabar@mail.ru"><i class='bx bx-at'></i>okinawabar@mail.ru</a>
            </p>
        </div>
    </div>
    <div class="navbar">

    </div>
</header>

<!-- Button to open the modal -->
<button onclick="openModal()">Open Modal</button>

<!-- The Modal -->
<div id="areaModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" onclick="closeModalArea()">&times;</span>
    <ul>

      {% for area in areas %}
        <li>{{ area.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% block body %}

{% endblock %}
<footer class="footer">
© 2023 Окинава
</footer>
{% block js %}
<script src="/static/main/js/app.js"></script>
<script src="/static/main/js/cart.js"></script>
<script src="/static/main/js/area.js"></script>


{% endblock %}
</body>
</html>