{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Контакты
{% endblock %}


{% block body %}
<section class="contacts">
    <div class="content">
        <h1>КОНТАКТЫ: </h1>
        <div class="contact-content">
            <div class="map">
                <div class="top-contacts">
        <p>
            <a href="tel:8(965)471-01-21"><i class='bx bxs-phone'></i>+7 (965) 471-01-21</a><br>
            <a href="tel:8(952)841-01-21"><i class='bx bxs-phone'></i>+7 (952) 841-01-21</a><br>
            <a href="#"><i class='bx bx-alarm'></i>Пн-Вс:11:00-22:30</a><br>
            <a href="mailto:okinawabar@mail.ru"><i class='bx bx-at'></i>okinawabar@mail.ru</a><br>
            <a href="#"><i class='bx bx-map'></i>Сергея Есенина 110/1</a><br>
        </p>
        </div>
                </div>

<div style="position:relative;overflow:hidden;">
    <a href="https://yandex.ru/maps/org/okinava/156256768713/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Окинава</a>
    <a href="https://yandex.ru/maps/35/krasnodar/category/food_and_lunch_delivery/184108273/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Доставка еды и обедов в Краснодаре</a>
    <a href="https://yandex.ru/maps/35/krasnodar/category/sushi_bar/1387788996/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Суши-бар в Краснодаре</a>
    <iframe src="https://yandex.ru/map-widget/v1/?ll=39.007835%2C45.090826&mode=search&oid=156256768713&ol=biz&sll=39.007835%2C45.090826&source=serp_navig&text=%D1%81%D1%83%D1%88%D0%B8%20%D0%B1%D0%B0%D1%80%20%D0%BE%D0%BA%D0%B8%D0%BD%D0%B0%D0%B2%D0%B0&z=16" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

    <div style="width:560px;height:800px;overflow:hidden;position:relative;">
        <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/156256768713?comments"></iframe>
        <a href="https://yandex.ru/maps/org/okinava/156256768713/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">Окинава на карте Краснодара — Яндекс Карты</a></div>

    </div>
    </div>
</section>
{% endblock %}        