 {% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Доставка
{% endblock %}
 {% block body %}
 <div class="content">
      <p>Доставка осуществляется по прикубанскому округу.
      </br> Обслуживаемые районы:
      </br><i class='bx bx-check' ></i> Музыкальный(бесплатная доставка при заказе от 600 рублей)
      </br><i class='bx bx-check' ></i> Жигуленко(бесплатная доставка при заказе от 900 рублей)
      </br><i class='bx bx-check' ></i> Тополинная(бесплатная доставка при заказе от 900 рублей)
      </br><i class='bx bx-check' ></i> Ангарская(бесплатная доставка при заказе от 900 рублей)
      </br><i class='bx bx-check' ></i> Дружная(бесплатная доставка при заказе от 900 рублей)
      </br><i class='bx bx-check' ></i> Солнечная(бесплатная доставка при заказе от 1100 рублей)
      </br><i class='bx bx-check' ></i> Ленинский переулок(бесплатная доставка при заказе от 1100 рублей)
      </br><i class='bx bx-check' ></i> 40 лет победы(бесплатная доставка при заказе от 1300 рублей)
      </br><i class='bx bx-check' ></i> Губернский(бесплатная доставка при заказе от 1300 рублей)
      </br><i class='bx bx-check' ></i> Посёлок Российский(бесплатная доставка при заказе от 1300 рублей)
      </br><i class='bx bx-check' ></i> Посёлок Краснодарский(бесплатная доставка при заказе от 1100 рублей)
      </br><i class='bx bx-check' ></i> Солнечная(бесплатная доставка при заказе от 1100 рублей)
      </br> Если ваш район не вошёл в список уточняйте у оператора по телефону.
      </br> Приятного аппетита!)
      </p>
 </div>
{% endblock %}