{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}



{% block body %}
<div class="content">
    <p>Добро пожаловать в суши-бар "Окинава" в Краснодаре!<br>
            Мы рады предложить вам лучшие суши, роллы и другие японские блюда, приготовленные из свежих ингредиентов.<br>
        Наша еда поможет вам насладиться атмосферой уюта и комфорта. <br>
        Мы предлагаем широкий выбор блюд, включая классические суши, теплые роллы, темпура и многое другое.<br>                
        Мы используем только самые свежие продукты, чтобы создать уникальные и вкусные блюда. <br>
        Наша команда профессионалов готова предложить вам индивидуальный подход к каждому заказу.<br>                
        В нашем заведении вы можете заказать доставку блюда японской, китайской, а также итальянской кухни на дом.<br>                
        Не упустите возможность попробовать наши суши-блюда в суши-баре "Окинава"!<br>
            Ждем вас в нашем заведении или заказывайте доставку прямо сейчас.<br></p>
</div>
    
{% endblock %}